@font-face {
    font-family: DigitalDream;
    src: url(fonts/DIGITALDREAM.ttf)
  }
  
@font-face {
    font-family: Eurostile;
    src: url(fonts/eurostile_extended_black.ttf)
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: DigitalDream;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    background-color: #cf4e91;
    border: 10px solid #b3557f;
    border-style: outset;
    border-radius: 50px;
    width: 90%;
    height: 80%;
    padding:5px;
}

.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100%;

}

.top-container h2 {
    font-family: Eurostile;
    font-size: 1.5em;
    text-align: center;
    color: white;
    margin: 10px;

}

.display-container {
    justify-content: space-between;
    align-items: center;
}

#display {
    background-color: #d5e0e2;
    border: 10px solid #b94f7f;
    border-radius: 20px;
    border-style: inset;
    font-size: 2em;
    text-align: end;
    padding: 10px;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #c4497f;
    border-radius: 40px;   
    border: 6px solid #7e435e;
    border-style: outset;
    width:100%;
    margin-bottom: -5px;
    margin-top: 20px;
    margin-left: -5px;
}

.button-area {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-column button {
    width: 80px;
    height: 60px;
    margin: 5px;
    border-radius: 20px;
    font-size: 2em;
    background-color: #bf4684;
    color: white;
    border: 7px solid #d37ea5;
    border-style: outset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.btn-column button:active {
    border-style: inset;
}

#darker button {
    background-color: #974166;
}

#btnAdd {
    flex: 2;
}

#btnSqrt, #btnPercent {
    background-color: #974166;
}

#btnClear {
    background-color: #c56395;
    font-size: 1em;
    font-weight: lighter;
}